<html>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
  </style>


<body>
  <h1>Register as Candidate</h1>
  <form action="/candidate" method="post">
    <p>First Name</p>
    <input type="text" name="first_name" />
    <p>Last Name</p>
    <input type="text" name="last_name" />
    <p>Email</p>
    <input type="text" name="email" />
    <p>Phone Number</p>
    <input type="text" name="phone" />
    <input type="submit" />
  </form> 

  <h1>Existing Candidate</h1>
  <form action="/findCandidate" method="get">
    <p>Email</p>
    <input type="text" name="email" />
    <input type="submit" />
  </form>

</body>

</html>
