<html>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
  </style>


<body>
  <h1>Register as Recruiter</h1>
  <form action="/recruiter" method="post">
    <p>First Name</p>
    <input type="text" name="first_name" />
    <p>Last Name</p>
    <input type="text" name="last_name" />
    <p>Phone</p>
    <input type="text" name="phone" />
    <p>Email</p>
    <input type="text" name="email" />
    <p>Title</p>
    <input type="text" name="title" />
    <input type="submit" />
    {% if insertErr != "": %}
      <p style="color:red;font-size:15px">{{ insertErr }}</p>
    {% endif %}
  </form> 

  <h1>Search Registered Recruiter</h1>
  <form action="/findRecruiter" method="get">
    <p>First Name</p>
    <input type="text" name="first_name" />
    <p>Last Name</p>
    <input type="text" name="last_name" />
    <input type="submit" value="Search" />
    {% if searchErr != "": %}
      <p style="color:red;font-size:15px">{{ searchErr }}</p>
    {% endif %}
  </form>
  <h2>Registered Companys:</h2>
  <p style="color:red;font-size:15px">Note: you can only register as a recruiter for existing companys.</p>
  <ul>
  {% for company in companys: %}
      {{ company.id }}: {{ company.name }}
  {% endfor %}
  </ul>
</body>


</html>
